.information {
    /* position: absolute; */
    margin-top: 5vh;
    margin-bottom: 5vh;
    margin-left: 5vw;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #ffffff89;
    border-radius: 10px;
    width: 30vw;
    line-height: 1.6;
  }
  
  button {
    margin: 10px;
  }
  .backdrop{
    display: flex;
    flex-direction: row;
  }
.chart-container{
  /* position: absolute; */
  margin-top: 4vh;
  margin-right: 0;
  width: 60vw;
  height: 60vh;
  margin-left: 13vw;
}