header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15%;
  padding: 1%;
  background: linear-gradient(to bottom, black, red, black);
}
  
  .logo {
    height: 60px;
    margin-left: 7%;
    margin-top: 7%;
  }
  
  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    cursor: pointer;
    font-size: 20pt;
    background: black;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  a:hover {
    background: linear-gradient(to bottom, white, white, white);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .nav-links {
    width: 20%;
  }

