.pokeCard {
    box-sizing: border-box;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 47vh;
    width: 20vw;
    margin-bottom: 5vh;
    text-align: center;
    border: 1px solid black;
  }
  
  img {
    margin-top: 1vh;
    width: 20vw;
    height: 30vh;
    object-fit: contain;
  }


  